header {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Times New Roman', Times New Roman, monospace;
    font-weight: bold;
    font-size: 24;
}

nav {
    background-color: pink;
}

section {
    background-color: beige;
    font-family: 'Times New Roman', Times New Roman, monospace;
    font-weight: bold;
    text-align: center;

    font-size: 24;
}


footer {
    background-color: slategray;
    clear:both;
    text-align: center;
}

aside {
    background-color: yellow;
}

details {
    background-color: tomato;
}

summary {
    background-color: darkcyan;
}

article aside {
    float: left;
}

article footer {
    clear: justify;
}

#welcome {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

#about {
    float: right;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

article h1,article h2, article h3, article h4, article h5, article h6 {
    text-transform: capitalize;
}

body {
    margin: auto;
    width: 1000px;
    background-image: url("../img/horse-03.jpg");
    background-size: 150px;
}

nav {
    margin-bottom: 10px;
}
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;

}

nav ul li a:hover {
    background-color: white;
    text-decoration: overline unset;
}



form input, form select {
    background-color: grey;
    border: 1px solid;
}

form input[type=reset]:hover, form input[type=submit]:hover {
    background-color: black;
}

form fieldset {
    margin: 10px;
}

.label {
    float: left;
}


section p, section summary {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

.label {
    float: left;
}
#Celestia {
display: block;
height: 200px;
width: 193px;
    float: left;
}

#Fluttershy {
display: block;
height: 200px;
width: 193px;
    float: left;
}
#PinkiePie {
display: block;
height: 200px;
width: 193px;
    float: left;
}
#RainbowDash {
display: block;
height: 200px;
width: 193px;
    float: left;
}
#Ponies {
display: block;
height: 400px;
width: 1000px;
   float: left;
}
.cover {
    width: 250px;
    height: 300px;
}

table.horsesTable, table.horsesTable tr, table.horsesTable td, table.horsesTable th {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color:yellow;
    text-transform: capitalize;

}

table.horsesTable td, table.horsesTable th {
    padding: 15px;
}

table.horsesTable {
    margin: 15px;
}

table.horsesTable th, table.horsesTable caption {
    text-transform: capitalize;
}
